/*
    This file is part of FlightClub.

    Copyright Ã‚Â© 2014-2015 Declan Murphy

    FlightClub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    FlightClub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with FlightClub.  If not, see <http://www.gnu.org/licenses/>.
*/

/* 
Tabs for bigger screens take custom style
*/
@media 
only screen and (min-width: 768px)  {
  
  /* TABS */
  #sites nav,
  #vehicles nav,
  #payloads nav {
    height:100%;
  }
  
  #copyInfo,
  #saveInfo {
    color: #444;
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    padding: 15px;
    width: 600px;
    height: 300px;
    z-index: 6;
    display: none; 
  }
  
  .plot {
    width: 100%;
  }

#head {
  padding-right: 25px;
}

  /* LOADING SCREEN */
  .progress-container {
    margin-top: -125px;
  }

  #rocket {
    margin-left: -125px;
    height: 249px;
    width: 249px;
  }

  #rocket > img {
    content: url("../images/rocket_large.png");
  }
  
  .textBox {
    position: relative;
    margin-top: 150px;
  }

  /* MISC */
  .rborder_large { border-right:1px solid #fff}
  .lborder_large { border-left:1px solid #fff}
  .tborder_large { border-top:1px solid #fff}
  .bborder_large { border-bottom:1px solid #fff}

  /* OFF CANVAS */
  #results .row-offcanvas {
    position: relative;
    -webkit-transition: all .5s ease-out;
       -moz-transition: all .5s ease-out;
         -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
  }

  #results .row-offcanvas-right {
    right: 0;
  }

  #results .row-offcanvas-right .sidebar-offcanvas {
    right: -31%;
  }

  #results .row-offcanvas-right.active {
    right: 33%;
  }
  
  #results .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 31%;
  }

  .footer {
    font-size: 18px;
  }

  @media 
  only screen and (max-height: 650px) {

    .footer {
      position: absolute;
      top: -9999px;
      left: -9999px;  
    }
  }

}