@media 
only screen and (min-width: 768px)  {
  
  /* TABS */
  #sites nav,
  #vehicles nav,
  #payloads nav {
    height:100%;
  }
  
  #copyInfo,
  #saveInfo {
    color: #444;
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    padding: 15px;
    width: 600px;
    height: 300px;
    z-index: 6;
    display: none; 
  }

  #head {
    padding-right: 25px;
  }

  /* LOADING SCREEN */
  .progress-container {
    margin-top: -125px;
  }

  #rocket {
    margin-left: -125px;
    height: 249px;
    width: 249px;
  }

  #rocket > img {
    content: url("../images/rocket_large.png");
  }

  /* MISC */
  .rborder_large { border-right:1px solid #fff}
  .lborder_large { border-left:1px solid #fff}
  .tborder_large { border-top:1px solid #fff}
  .bborder_large { border-bottom:1px solid #fff}

}