/*
    This file is part of FlightClub.

    Copyright © 2014-2015 Declan Murphy

    FlightClub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    FlightClub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with FlightClub.  If not, see <http://www.gnu.org/licenses/>.
*/

/* 
mobile style
*/
@media 
only screen and (max-width: 767px) {

  /* BODY */
  body {
    font-size: 18px;
  }

  /* TABS */
  #sites nav,
  #vehicles nav {
    height:50%;
  }
  
  #vehicles {
    top: -35px;
  }
  
  #copyInfo,
  #saveInfo {
    display: none;
  }

  /* LOADING SCREEN */
  .progress-container {
    margin-top: -38px;
  }

  #rocket {
    margin-left: -38px;
    min-height: 75px;
    min-width: 75px;
  }

  #rocket > img {
    content: url("../images/rocket_small.png");
  }

  /* LIVE */
  .text_half  {
    font-size:9px;
  }
  .text_full  {
    font-size:27px; /* Actually 1.5x */
  }

  #live .live-info {
    margin-top:75px;
  }

  #clock, #velocity, #altitude {
    margin-top:10px;
  }

  /* MISC */
  .rborder_small { border-right:1px solid #fff}
  .lborder_small { border-left:1px solid #fff}
  .tborder_small { border-top:1px solid #fff}
  .bborder_small { border-bottom:1px solid #fff}

  /* OFF CANVAS */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -75%;
  }

  .row-offcanvas-right.active {
    right: 75%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%;
  }
  
  .footer {
    font-size: 12px;
  }

  @media 
  only screen and (max-height: 900px) {

    .footer {
      position: absolute;
      top: -9999px;
      left: -9999px;  
    }
  }

}
