@media 
only screen and (max-width: 767px) {

  /* TABS */
  #sites nav,
  #vehicles nav,
  payloads nav {
    height:50%;
  }

  #vehicles {
    top: -35px;
  }

  #payloads {
    top: -70px;
  }

  #copyInfo,
  #saveInfo {
    display: none;
  }

  .progress-container {
    margin-top: -38px;
  }

  #rocket {
    margin-left: -38px;
    min-height: 75px;
    min-width: 75px;
  }

  #rocket > img {
    content: url("../images/rocket_small.png");
  }

  .rborder_small { border-right:1px solid #fff}
  .lborder_small { border-left:1px solid #fff}
  .tborder_small { border-top:1px solid #fff}
  .bborder_small { border-bottom:1px solid #fff}

  /* OFF CANVAS */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -65%;
  }

  .row-offcanvas-right.active {
    right: 75%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 65%;
  }

}
