@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: local("Quicksand Light"), local("Quicksand-Light"), url("https://fonts.gstatic.com/l/font?kit=qhfoJiLu10kFjChCCTvGlI-dKQzmQ2KGHRrJPWMxpTDsPXYqTGLZ2U8sggWmBN11vY_KnrbECKVYwT5jML176E-hCdHeAh1EypZggr0U53BuXxQghSWdr5fKRAiL7DYm&skey=2d4bb97196ce133f") format("woff2");
}

html, body {
  color: #BBB !important;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: inherit;
}

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}

.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 100%;
  min-height: 100%;
  width: auto;
}

::-webkit-scrollbar { 
  display: none; 
}

/*
  Hack. Setting timeline: false breaks everything, so set it to true, but hide it
*/
.cesium-viewer-timelineContainer {
  display: none !important;
}

.progress-container {
  position: fixed;
  top: 50%;
}

.centre  {
  text-align: center;
  display:block;
}

.text1 {
  line-height:1;
  color: #BBB;
}

.text_white {
  line-height:1;
  color: white;
}

.text_black {
  line-height:1;
  color: black;
}

#cesiumContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

md-menu-content {
  background: black;
  padding: 0;
}

md-content {
  overflow: hidden !important;  
}

md-sidenav {
  padding-bottom: 5%;
}

/* Keep main content visible while sidenav is open */
#world md-backdrop.md-sidenav-backdrop {
  background-color:transparent;
}