/* latin */
@font-face {
  font-family: 'Brandon Grotesque';
  font-style: normal;
  src: url(/fonts/Brandon\ Grotesque\ Medium.otf) format('opentype');
}

html, input, textarea, select {
  font-family: 'Brandon Grotesque', sans-serif !important;
}

.centre {
  text-align: center;
}

/*
  tabs content was starting way above the tab content
*/
#home md-grid-list {
  padding-bottom: 0 !important;
}
/*
md-tabs .md-tab.md-active {
  color: #ccac55; //spacex gold
}

.md-button.md-primary {
  color: #000 !important;
  background-color: #ccac55 !important; // gold
}
*/
md-menu-item {
  padding: 0 8px;
}

md-input-container {
  margin-bottom: 0;
}

.fixie {
  position:fixed;
}

.fullPage {
  top:0;
  left:0;
  z-index:1;
  min-width:100%;
}

.fullHeight {
  min-height: 100%;
}

.eventLabel {
  position: relative !important;
  top: 18px !important;
}

.perfectHeight {
  height: 100% !important;
}

md-select, md-switch {
  margin-bottom: 24px !important; // input has error div below. This makes select line up
}

::-webkit-scrollbar { 
  display: none; 
}

.hidden {
  display: none !important;
}

#results md-grid-tile {
  padding: 0 !important;
}

#results figure {
  display: none !important;
}

md-sidenav, md-backdrop {
  position: fixed;
}

#world md-backdrop {
  display: none;
}

#cesiumContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#world md-menu-content {
  background: black;
  padding: 0;
}

@media 
only screen and (min-width: 768px)  {

  #rocket {
    margin-left: -125px;
    height: 249px;
    width: 249px;
  }

  #rocket > img {
    content: url("../images/rocket_large.png");
  }

  #rocket > img:after {
    content: url("../images/rocket_large.png");
  }
}

@media 
only screen and (max-width: 767px) {

  #rocket {
    margin-left: -38px;
    min-height: 75px;
    min-width: 75px;
  }

  #rocket > img {
    content: url("../images/rocket_small.png");
  }

  #rocket > img:after {
    content: url("../images/rocket_small.png");
  }

}