
html {
  font-family: 'Quicksand', sans-serif !important;
}

.centre {
  text-align: center;
}

.md-button, .md-tab, .md-list-item-inner, .md-select-value {
    font-weight: 900;
}

md-menu-item {
  padding: 0 8px;
}

md-input-container {
  margin-bottom: 0;
}

.eventLabel {
  position: relative !important;
  top: 18px !important;
}

.perfectHeight {
  height: 100% !important;
}

md-select, md-switch {
  margin-bottom: 24px !important; // input has error div below. This makes select line up
}

::-webkit-scrollbar { 
  display: none; 
}

/*
  Hack. Setting timeline: false breaks everything, so set it to true, but hide it
*/
.cesium-viewer-timelineContainer {
  display: none !important;
}

#results md-grid-tile {
  padding: 0 !important;
}

#results figure {
  display: none !important;
}

#cesiumContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#world md-menu-content {
  background: black;
  padding: 0;
}

#world md-sidenav {
  padding-bottom: 5%;
}

/* Keep main content visible while sidenav is open */
#world md-backdrop.md-sidenav-backdrop {
  background-color:transparent;
}

@media 
only screen and (min-width: 768px)  {

  #rocket {
    margin-left: -125px;
    height: 249px;
    width: 249px;
  }

  #rocket > img {
    content: url("../images/rocket_large.png");
  }
}

@media 
only screen and (max-width: 767px) {

  #rocket {
    margin-left: -38px;
    min-height: 75px;
    min-width: 75px;
  }

  #rocket > img {
    content: url("../images/rocket_small.png");
  }

}
