<md-content id="home" layout-fill flex layout="column">
    <md-content ng-show="!loadSuccess" class="perfectHeight" flex layout-fill layout-padding layout="column" layout-align="center center">
        <md-progress-circular ng-show="missionLoading" md-mode="indeterminate"></md-progress-circular>
        <p ng-show="missionLoading">{{missionLoadingMessage}}</p>
        <p ng-show="!missionLoading" style="white-space:pre-wrap;">{{serverErrorMessage}}</p>
    </md-content>
    <form ng-show="loadSuccess" layout-fill layout="row" flex name="profileForm" ng-cloak>
        <md-tabs flex md-selected="3" md-border-bottom md-autoselect md-swipe-content="true">
            <md-tab label='Launch Site'>
                <md-tab-content md-swipe-left="onSwipeLeft()">
                    <md-content layout-fill flex layout-padding layout="row" layout-align="space-around center" style="margin-bottom:8px">
                        <md-grid-list layout-padding layout-margin layout-fill
                                      md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                                      md-row-height-gt-md="1:1" md-row-height="2:2"
                                      md-gutter="12px" md-gutter-gt-sm="8px">
                            <md-grid-tile ng-repeat="site in launchSites"
                                          md-rowspan="1"
                                          md-colspan="1"
                                          md-colspan-gt-sm="2"
                                          style="margin:0px;padding:0px">
                                <md-button ng-class="{'md-accent':launchSites[form.Mission.launchsite] === site,'md-primary':launchSites[form.Mission.launchsite] !== site}" layout-padding layout-fill class="bolder md-raised" ng-click='selectSite(site)'>
                                    <md-icon flex style="height:96px;width:96px" md-svg-src="{{'images/' + site.code + '.svg'}}"></md-icon>
                                    <div flex>{{site.name}}</div>
                                </md-button>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </md-tab-content>
            </md-tab>
            <md-tab label='Launch Vehicle'>
                <md-tab-content>
                    <md-content layout='row' flex layout-fill layout-padding layout-align='space-around start'>
                        <md-content flex layout='column' layout-align='space-around center'>
                            <md-radio-group layout="column" layout-align="start center" ng-model="builderType">
                                <md-content layout="row" layout-align="space-between center" layout-fill>
                                    <md-radio-button flex value="previous">
                                        <label>Use vehicle from existing mission:</label>
                                    </md-radio-button>
                                    <md-input-container flex class="md-block">
                                        <md-select ng-model="selectedVeh" name="selectedVeh" aria-label="SelectPastVehicle" ng-disabled="builderType !== 'previous'">
                                            <md-option ng-repeat="mission in allMissions" value="{{mission.code}}" ng-click="selectMissionVehicle(mission.code)">{{mission.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </md-content>
                                <md-content layout="row" layout-align="space-between center" layout-fill>
                                    <md-radio-button flex value="custom">
                                        <label>Customize</label>
                                    </md-radio-button>
                                    <md-button class="md-raised" style="color:#181c1f" aria-label="add" ng-click='incrementStages()' ng-disabled="builderType !== 'custom'">Add Stage</md-button>
                                </md-content>
                            </md-radio-group>
                            <md-divider flex></md-divider>
                            <md-content flex layout-fill layout-align="space-between center" layout="row">
                                <md-list layout-fill layout='column'>
                                    <md-list-item class="md-3-line" ng-repeat="stage in form.Mission.Vehicle.Stages">
                                        <div class="md-list-item-text">
                                            <h3>{{stage.name}}</h3>
                                            <h4 ng-repeat="engineConfig in stage.Engines">{{engineConfig.number}} x {{engineConfig.Engine.name}}</h4>
                                            <p>Dry mass: {{stage.dryMass / 1000.0}}t // Propellant mass: {{stage.propMass / 1000.0}}t/{{stage.fuelCapacity / 1000.0}}t // Total mass: {{(stage.dryMass + stage.propMass) / 1000.0}}t</p>
                                        </div>
                                        <md-button style="min-width:0" ng-click="openStageEditDialog($event, $index, stage)">
                                            <md-icon class="material-icons">mode_edit</md-icon>
                                        </md-button>
                                        <md-button style="min-width:0" ng-click="removeStage($index)">
                                            <md-icon class="material-icons">close</md-icon>
                                        </md-button>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                    <md-content layout="column">
                                        <md-input-container class="md-block">
                                            <label>Payload Mass (kg)</label>
                                            <input ng-model="form.Mission.Payload.mass" ng-change="recalcDV()">
                                        </md-input-container>
                                        <p>Maximum payload ΔV: {{payloadDV}} km/s</p>
                                    </md-content>
                                </md-list>
                            </md-content>
                        </md-content>
                    </md-content>
                </md-tab-content>
            </md-tab>
            <md-tab label='Flight Profile'>
                <md-tab-content md-swipe-left="open('sidenav')">
                    <md-content layout-padding layout-fill flex layout='column' layout-gt-sm='row' layout-align='space-between start'>
                        <md-content class="perfectHeight" flex layout-fill>
                            <md-content layout="row" layout-align="space-between center">
                                <md-content></md-content>
                                <md-button class="md-raised" show-sm hide-gt-sm ng-show="authorised" type="submit" ng-click="openAdminEditDialog($event)">Admin</md-button>
                                <md-button class="md-raised" show-sm hide-gt-sm ng-show="authorised" type="submit" ng-click="save($event)">Save</md-button>
                                <md-button class="md-raised" show-sm hide-gt-sm type="submit" ng-click="submit()">Run simulation!</md-button>
                            </md-content>
                            <md-list flex layout='column'>
                                <md-content layout="row" layout-align="space-between center">
                                    <md-subheader class="md-no-sticky">Events</md-subheader>
                                    <md-button class="md-raised" ng-click="addEvent()">Add Event</md-button>
                                </md-content>
                                <md-divider></md-divider>
                                <md-list-item class="md-2-line secondary-button-padding" ng-repeat="event in form.Mission.Events">
                                    <div class="md-list-item-text">
                                        <h3>{{"T" + (event.time &lt; 0 ? '' : '+') + event.time}} // {{event.name}}</h3>
                                        <p>{{form.Mission.Vehicle.Stages[event.stage].name}}</p>
                                    </div>
                                    <md-button show-sm hide-gt-sm style="min-width:0" ng-click="openEventEditDialog($event, $index, event)">
                                        <md-icon class="material-icons">mode_edit</md-icon>
                                    </md-button>
                                    <md-button hide show-gt-sm style="min-width:0" ng-click="selectEvent($event, event)">
                                        <md-icon class="material-icons">mode_edit</md-icon>
                                    </md-button>
                                    <md-button style="min-width:0" ng-click="removeEvent($index)">
                                        <md-icon class="material-icons">close</md-icon>
                                    </md-button>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>

                        <md-content class="perfectHeight" flex layout-fill hide-xs hide-sm show-gt-sm>
                            <md-content style="padding-top:8px" layout="row" layout-align="space-between center">
                                <md-content></md-content>
                                <md-button class="md-raised" ng-show="authorised" ng-click="openAdminEditDialog($event)">Admin</md-button>
                                <md-button class="md-raised" ng-show="authorised" ng-click="save($event)">Save</md-button>
                                <md-button class="md-raised" type="submit" ng-click="submit()">Run simulation!</md-button>
                            </md-content>
                            <md-divider></md-divider>
                            <md-content layout="row" layout-align="space-around center">
                                <md-content flex layout="row">
                                    <md-input-container flex class="md-block">
                                        <label>Time (seconds from T-0)</label>
                                        <input type="number" step="any" ng-model="selectedEvent.time" ng-change="sortEvents()" name="time" ng-required="selectedEvent!==null">
                                        <div ng-messages="profileForm.time.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">What time should this event begin?</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex class="md-block" ng-show="selectedEvent.type === 'GUIDANCE'">
                                        <label>End (seconds from T-0)</label>
                                        <input ng-model="selectedEvent.end" name="end">
                                    </md-input-container>
                                </md-content>
                                <md-input-container flex class="md-block">
                                    <label>Name</label>
                                    <input ng-model="selectedEvent.name" name="name" ng-required="selectedEvent!==null">
                                    <div ng-messages="profileForm.name.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">This field is required, but can be anything. Be descriptive!</div>
                                    </div>
                                </md-input-container>
                            </md-content>
                            <md-content layout="row" layout-align="space-around center">
                                <md-input-container flex class="md-block">
                                    <label>Event Type</label>
                                    <md-select ng-model="selectedEvent.type" name="type" ng-required="selectedEvent!==null">
                                        <md-option ng-repeat="obj in type" value="{{obj.code}}" ng-disabled="obj.code === 'FAIRING_SEP' && form.Mission.Payload.code !== 'SATL'">{{obj.name}}</md-option>
                                    </md-select>
                                    <div ng-messages="profileForm.type.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">You must specify the type of event here</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex class="md-block">
                                    <label>Stage</label>
                                    <md-select ng-model="selectedEvent.stage" name="stage" ng-required="selectedEvent!==null">
                                        <md-option ng-repeat="obj in form.Mission.Vehicle.Stages" ng-value="obj.stageNum">{{obj.name}}</md-option>
                                    </md-select>
                                    <div ng-messages="profileForm.stage.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">An event has to apply to a particular stage</div>
                                    </div>
                                </md-input-container>
                            </md-content>
                            <md-content layout="row" layout-align="space-around center">
                                <md-content flex layout="row" layout-align="space-around center">
                                    <md-content ng-show="selectedEvent.type === 'IGNITION' || selectedEvent.type === 'GUIDANCE'"
                                                flex layout="row" class="md-block">
                                        <md-input-container flex class="md-block">
                                            <label>Pitch</label>
                                            <input ng-model="selectedEvent.Attitude.pitch">
                                        </md-input-container>
                                        <md-input-container flex class="md-block">
                                            <label>Yaw</label>
                                            <input ng-model="selectedEvent.Attitude.yaw">
                                        </md-input-container>
                                        <md-input-container flex class="md-block">
                                            <label>Throttle</label>
                                            <input type="number" name="throttle" min="0" max="1" step="any" ng-disabled="selectedEvent.dynamic" ng-model="selectedEvent.Attitude.throttle">
                                            <div ng-messages="profileForm.throttle.$error" multiple md-auto-hide="true">
                                                <div ng-message="min">Throttle must be between 0 and 1, inclusive</div>
                                                <div ng-message="max">Throttle must be between 0 and 1, inclusive</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex class="md-block">
                                            <label>Gravity Turn</label>
                                            <md-select ng-model="selectedEvent.Attitude.gt">
                                                <md-option ng-repeat="obj in gravTurnSelect" value="{{obj.code}}">{{obj.name}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </md-content>
                                </md-content>
                            </md-content>
                            <md-content ng-show="selectedEvent.type === 'IGNITION' || selectedEvent.type === 'CUTOFF'"
                                        layout="row" layout-align="space-around center">
                                <md-content flex class="md-block" ng-repeat="engineConfig in form.Mission.Vehicle.Stages[selectedEvent.stage].Engines">
                                    <md-input-container style="width:90%" flex>
                                        <label># of {{engineConfig.Engine.name}} engines</label>
                                        <input ng-model="selectedEvent.Engines[$index].engineId" name="id" ng-value="engineConfig.engineId" type="hidden"/>
                                        <input type="number" ng-model="selectedEvent.Engines[$index].number" name="engines" required min="0" max="{{engineConfig.number}}" ng-change="selectedEvent.Engines[$index].engineId = engineConfig.engineId"/>
                                        <div ng-messages="profileForm.engines.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">Insert 0 if you don't want to use these engines</div>
                                            <div ng-message="min">This has to be a positive integer!</div>
                                            <div ng-message="max">This stage only has {{engineConfig.number}} {{engineConfig.Engine.name}}'s!</div>
                                        </div>
                                    </md-input-container>
                                </md-content>
                                <md-content flex class='md-block'>
                                    <md-input-container flex class="md-block" ng-show="selectedEvent.type === 'IGNITION'">
                                        <label>Is Landing Burn?</label>
                                        <md-switch ng-model="selectedEvent.dynamic" aria-label="Hoverslam"></md-switch>
                                    </md-input-container>
                                </md-content>
                            </md-content>
                        </md-content>
                    </md-content>
                </md-tab-content>
            </md-tab>
        </md-tabs>
    </form>

    <md-sidenav flex layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="sidenav" md-is-locked-open="false" md-swipe-right="close('sidenav')">
        <md-toolbar class="md-theme-indigo" layout="row" layout-align="space-between center" >
            <div class="md-toolbar-tools" layout="row" layout-align="space-around center" flex>
                <h1><span>Stock Profiles</span></h1>
            </div>
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleNav('sidenav')">
                <i class="material-icons">keyboard_arrow_right</i>
            </md-button>
        </md-toolbar>
        <md-divider></md-divider>
        <md-list>
            <md-subheader style="text-align:right" layout-fill  class="md-no-sticky">Upcoming Missions</md-subheader>
            <md-list-item ng-repeat="mission in upcoming" ng-show="mission.display || authorised" ng-click="selectMission(mission.code)">
                <span class="md-secondary">{{mission.name}}</span>
            </md-list-item>
            <md-subheader style="text-align:right" layout-fill class="md-no-sticky">Past Missions</md-subheader>
            <md-list-item ng-repeat="mission in past" ng-show="mission.display || authorised" ng-click="selectMission(mission.code)">
                <span class="md-secondary">{{mission.name}}</span>
            </md-list-item>
        </md-list>
    </md-sidenav>
</md-content>