<md-content id="home" layout-fill flex layout="column">
    <form layout-fill layout="row" flex name="profileForm" ng-cloak>
        <md-tabs flex md-selected="3" md-border-bottom md-autoselect>
            <md-tab label='Launch Site'>
                <md-tab-content>
                    <md-content layout-fill flex layout-padding layout-margin layout="row" layout-align="space-around center">
                        <md-grid-list layout-padding layout-margin layout-fill
                                      md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                                      md-row-height-gt-md="1:1" md-row-height="2:2"
                                      md-gutter="12px" md-gutter-gt-sm="8px">
                            <md-grid-tile ng-repeat="site in launchSites"
                                          md-rowspan="1"
                                          md-colspan="1"
                                          md-colspan-gt-sm="2">
                                <md-button ng-class="{'md-primary':launchSites[form.Mission.launchsite] === site}" layout-fill class="bolder md-raised" ng-click='selectSite($event, site)'>
                                    <md-icon flex style="height:96px;width:96px" md-svg-src="{{'images/' + site.code + '.svg'}}"></md-icon>
                                    <div flex>{{site.name}}</div>
                                </md-button>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </md-tab-content>
            </md-tab>
            <md-tab label='Launch Vehicle'>
                <md-tab-content>
                    <md-content layout='row' flex layout-fill layout-padding layout-align='space-around start'>
                        <md-content flex layout='column' layout-align='space-around center'>
                            <md-radio-group layout="column" layout-align="start center" ng-model="builderType">
                                <md-content layout="row" layout-align="space-between center" layout-fill>
                                    <md-radio-button flex value="previous">
                                        <label>Copy Vehicle from existing missions:</label>
                                    </md-radio-button>
                                    <md-input-container flex class="md-block">
                                        <md-select ng-model="selectedVeh" name="selectedVeh" aria-label="SelectPastVehicle" ng-disabled="builderType!='previous'">
                                            <md-option ng-repeat="mission in past" value="{{mission.code}}" ng-click="selectMissionVehicle(mission.code)">{{mission.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </md-content>
                                <md-content layout="row" layout-align="space-between center" layout-fill>
                                    <md-radio-button flex value="custom">
                                        <label>Customize</label>
                                    </md-radio-button>
                                    <md-button class="md-raised" style="color:white" aria-label="add" ng-click='incrementStages()' ng-disabled="builderType!='custom'">Add Stage</md-button>
                                </md-content>
                            </md-radio-group>
                            <md-divider flex></md-divider>
                            <md-content flex layout-fill layout-align="space-between center" layout="row">
                                <md-list layout-fill layout='column'>
                                    <md-list-item class="md-3-line" ng-repeat="stage in form.Mission.Vehicle.Stages">
                                        <div class="md-list-item-text">
                                            <h3>{{stage.name}}</h3>
                                            <h4 ng-repeat="engineConfig in stage.Engines">{{engineConfig.number}} x {{engineConfig.Engine.name}}</h4>
                                            <p>Dry mass: {{stage.dryMass/1000.0}}t // Propellant mass: {{stage.propMass/1000.0}}t/{{stage.fuelCapacity/1000.0}}t // Total mass: {{(stage.dryMass+stage.propMass)/1000.0}}t</p>
                                        </div>
                                        <md-button style="min-width:0" ng-click="openStageEditDialog($event, $index, stage)">
                                            <md-icon class="material-icons">mode_edit</md-icon>
                                        </md-button>
                                        <md-button style="min-width:0" ng-click="removeStage($index)">
                                            <md-icon class="material-icons">close</md-icon>
                                        </md-button>
                                        <md-divider ng-if="!$last"></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-content>
                    </md-content>
                </md-tab-content>
            </md-tab>
            <md-tab label='Payload'>
                <md-tab-content>
                    <md-content layout-fill flex layout-padding layout-margin layout="row" layout-align="space-around center">
                        <md-grid-list layout-padding layout-margin layout-fill
                                      md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                                      md-row-height-gt-md="1:1" md-row-height="2:2"
                                      md-gutter="12px" md-gutter-gt-sm="8px">
                            <md-grid-tile ng-repeat="payload in payloads"
                                          md-rowspan="1"
                                          md-colspan="1"
                                          md-colspan-gt-sm="2">
                                <md-button ng-class="{'md-primary':payloads[form.Mission.Payload.code] === payload}" layout-fill class="bolder md-raised" ng-click='selectPayload($event, payload)'>
                                    <md-icon flex style="height:96px;width:96px" md-svg-src="{{'images/' + payload.code + '.svg'}}"></md-icon>
                                    <div flex>{{payload.name}}</div>
                                </md-button>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </md-tab-content>
            </md-tab>
            <md-tab label='Flight Profile'>
                <md-tab-content>
                    <md-content layout-padding layout-fill flex layout='column' layout-gt-sm='row' layout-align='space-between start'>

                        <md-content class="perfectHeight" flex layout-fill>
                            <md-list layout='column'>
                                <md-content layout="row" layout-align="space-between center">
                                    <md-subheader class="md-no-sticky">Events</md-subheader>
                                    <md-button class="md-raised" ng-click="addEvent()">Add</md-button>
                                </md-content>
                                <md-divider></md-divider>
                                <md-list-item layout='row' layout-align='space-between center' ng-repeat="event in form.Mission.Events" ng-click="selectEvent($event, event)">
                                    <div flex class="md-secondary eventLabel">{{"T" + (event.time < 0 ? '' : '+') + event.time}}</div>
                                    <div class="md-secondary eventLabel">{{event.name}}</div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>

                        <md-content flex layout-fill>
                            <md-content ng-show="selectedEvent !== undefined">
                                <md-content layout="row" layout-align="space-around center">
                                    <md-input-container flex class="md-block">
                                        <label>Event Type</label>
                                        <md-select ng-model="selectedEvent.type" name="type" required>
                                            <md-option ng-repeat="obj in type" value="{{obj.code}}" 
                                                       ng-disabled="obj.code === 'FAIRING_SEP' && form.Mission.Payload.code !== 'SATL'">{{obj.name}}</md-option>
                                        </md-select>
                                        <div ng-messages="profileForm.type.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">
                                                What type of event do you want to create?
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex class="md-block">
                                        <label>Name</label>
                                        <input ng-model="selectedEvent.name" name="name" required>
                                        <div ng-messages="profileForm.name.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">
                                                This can be whatever you want, but make it descriptive!
                                            </div>
                                        </div>
                                    </md-input-container>
                                </md-content>
                                <md-content layout="row" layout-align="space-around center">
                                    <md-input-container flex class="md-block">
                                        <label>Stage</label>
                                        <md-select ng-model="selectedEvent.stage" name="stage" required>
                                            <md-option ng-repeat="obj in form.Mission.Vehicle.Stages" value="{{obj.stageNum}}">{{obj.name}}</md-option>
                                        </md-select>
                                        <div ng-messages="profileForm.stage.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">
                                                The event has to apply to one stage in particular
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <div flex></div>
                                </md-content>
                                <md-content layout="row" layout-align="space-around center">
                                    <md-input-container flex class="md-block">
                                        <label>Time (seconds from T-0)</label>
                                        <input ng-model="selectedEvent.time" ng-change="sortEvents()" name="time" required>
                                        <div ng-messages="profileForm.time.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">
                                                What time should this event take place?
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <div flex>
                                        <md-input-container flex class="md-block" ng-show="selectedEvent.type === 'GUIDANCE'">
                                            <label>End (seconds from T-0)</label>
                                            <input ng-model="selectedEvent.end" name="end">
                                        </md-input-container>
                                    </div>
                                </md-content>
                                <md-content ng-show="selectedEvent.type === 'IGNITION'"
                                            layout="row" layout-align="space-around center">
                                    <md-input-container flex class="md-block">
                                        <label>Engines</label>
                                        <input ng-model="selectedEvent.engines" name="engines" required/>
                                        <div ng-messages="profileForm.engines.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">
                                                You can't do a burn with no engines...
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex class="md-block">
                                        <label>Dynamic Burn</label>
                                        <md-switch ng-model="selectedEvent.dynamic" aria-label="Hoverslam"></md-switch>
                                    </md-input-container>
                                </md-content>
                                <md-content ng-show="selectedEvent.type === 'IGNITION' || selectedEvent.type === 'GUIDANCE'"
                                            layout="row" layout-align="space-around center">
                                    <md-input-container flex class="md-block">
                                        <label>Pitch</label>
                                        <input ng-model="selectedEvent.Attitude.pitch">
                                    </md-input-container>
                                    <md-input-container flex class="md-block">
                                        <label>Yaw</label>
                                        <input ng-model="selectedEvent.Attitude.yaw">
                                    </md-input-container>
                                </md-content>
                                <md-content ng-show="selectedEvent.type === 'IGNITION' || selectedEvent.type === 'GUIDANCE'"
                                            layout="row" layout-align="space-around center">
                                    <md-input-container flex class="md-block">
                                        <label>Throttle</label>
                                        <input ng-model="selectedEvent.Attitude.throttle">
                                    </md-input-container>
                                    <md-input-container flex class="md-block">
                                        <label>Gravity Turn</label>
                                        <md-select ng-model="selectedEvent.Attitude.gt">
                                            <md-option ng-repeat="obj in gravTurnSelect" value="{{obj.code}}">{{obj.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </md-content>
                                <md-content layout="row" layout-align="space-between center">
                                    <md-button class="md-raised" ng-disabled="selectedEvent === null" ng-click="removeEvent()">Remove</md-button>
                                </md-content>
                            </md-content>
                        </md-content>

                        <md-content flex layout-fill>
                            <md-content layout="row" layout-align="space-around center">
                                <md-input-container flex class="md-block">
                                    <label>Payload Mass (kg)</label>
                                    <input ng-model="form.Mission.Payload.mass">
                                </md-input-container>
                                <md-button flex class="md-raised" type="submit" ng-click="submit()">Submit</md-button>
                            </md-content>
                            <md-content layout="row" layout-align="space-around center">
                                <md-input-container flex class="md-block">
                                    <label>{{form.Mission.Vehicle.Stages[0].name}} Legs</label>
                                    <md-switch ng-model="form.Mission.Vehicle.Stages[0].legs" aria-label="{{form.Mission.Vehicle.Stages[0].name}} legs"></md-switch>
                                </md-input-container>
                                <md-input-container flex class="md-block" flex ng-show="form.Mission.Vehicle.Stages.length === 3">
                                    <label>{{form.Mission.Vehicle.Vehicle.Stages[1].name}} Legs</label>
                                    <md-switch ng-model="form.Mission.Vehicle.Stages[1].legs" aria-label="{{form.Mission.Vehicle.Stages[1].name}} legs"></md-switch>
                                </md-input-container>
                            </md-content>
                            <md-content>
                                <md-divider></md-divider>
                                <md-content layout="row" layout-align="space-around center">
                                    <md-input-container flex class="md-block">
                                        <label>Orbits</label>
                                        <input ng-model="form.Mission.orbits" ng-disabled="!authorised">
                                    </md-input-container>
                                    <div flex></div>
                                </md-content>
                            </md-content>
                            <md-content ng-show="authorised">
                                <md-divider></md-divider>
                                <md-content layout="row" layout-align="space-around center">
                                    <md-input-container flex class="md-block">
                                        <label>Code</label>
                                        <input ng-model="form.Mission.code">
                                    </md-input-container>
                                    <md-input-container flex class="md-block">
                                        <label>Description</label>
                                        <input ng-model="form.Mission.description">
                                    </md-input-container>
                                </md-content>
                                <md-content layout="row" layout-align="space-around center">
                                    <md-input-container flex class="md-block">
                                        <label>Date</label>
                                        <input ng-model="form.Mission.date">
                                    </md-input-container>
                                    <md-input-container flex class="md-block">
                                        <label>Time</label>
                                        <input ng-model="form.Mission.time">
                                    </md-input-container>
                                </md-content>
                                <md-content layout="row" layout-align="space-around center">
                                    <md-content flex>
                                        <md-input-container flex class="md-block">
                                            <label>Company</label>
                                            <md-select ng-model="form.Mission.company">
                                                <md-option ng-repeat="obj in companies" value="{{obj.code}}">{{obj.name}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </md-content>
                                    <md-content flex layout="row" layout-align="space-around center">
                                        <md-input-container class="md-block">
                                            <label>Display</label>
                                            <md-switch ng-model="form.Mission.display" aria-label="Display"></md-switch>
                                        </md-input-container>
                                        <md-button class="md-raised" type="submit" ng-click="save($event)">Save</md-button>
                                    </md-content>
                                </md-content>
                            </md-content>

                        </md-content>
                    </md-content>
                </md-tab-content>
            </md-tab>
        </md-tabs>
    </form>

    <md-sidenav flex layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="sidenav" md-is-locked-open="false">
        <md-toolbar class="md-theme-indigo" layout="row" layout-align="space-between center" >
            <div class="md-toolbar-tools" layout="row" layout-align="space-around center" flex>
                <h1><span>Stock Profiles</span></h1>
            </div>
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleNav('sidenav')">
                <i class="material-icons">keyboard_arrow_right</i>
            </md-button>
        </md-toolbar>
        <md-divider></md-divider>
        <md-list>
            <md-subheader class="md-no-sticky">Upcoming Missions</md-subheader>
            <md-list-item ng-repeat="mission in upcoming" ng-show="mission.display || authorised" ng-click="selectMission(mission.code)">
                <span class="md-secondary">{{mission.name}}</span>
            </md-list-item>
            <md-subheader class="md-no-sticky">Past Missions</md-subheader>
            <md-list-item ng-repeat="mission in past" ng-show="mission.display || authorised" ng-click="selectMission(mission.code)">
                <span class="md-secondary">{{mission.name}}</span>
            </md-list-item>
        </md-list>
    </md-sidenav>
</md-content>