<md-toolbar>
  <div class="md-toolbar-tools">
    <md-menu md-offset="0 50">
      <md-button class="md-icon-button" aria-label="Menu" ng-click='$mdOpenMenu($event)'>
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="redirect('/')">
            <md-icon class="material-icons">home</md-icon>
            <span>Home</span>
          </md-button>
        </md-menu-item>
        <md-menu-item ng-click="toggleLogin($event)">
          <md-button>
            <md-icon class="material-icons">person</md-icon>
            <span>{{loginLabel}}</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="redirect('https://www.flightclub.io/docs')">
            <md-icon class="material-icons">description</md-icon>
            <span>Flight Club API Docs</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="redirect('/donate')">
            <md-icon class="material-icons">euro_symbol</md-icon>
            <span>Donate</span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="redirect('/contact')">
            <md-icon class="material-icons">mail_outline</md-icon>
            <span>Contact</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <h2>
      <span>Flight Club | {{toolbarTitle}}</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="sidenav" ng-click="toggleNav('sidenav')">
      <md-icon class="material-icons">more_vert</md-icon>
    </md-button>
  </div>
</md-toolbar>